body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 100vh;
  margin: 0 auto;
}

.title {
  margin-top: 0;
  margin-bottom: 40px;
  text-transform: capitalize;
  font-weight: 700;
}

.menu {
  padding: 20px;
  padding-left: 50px;
  width: 300px;
  height: 600px;
  background: #fff;
  border-radius: 20px 0 0 20px;
  overflow-y: scroll;
  box-shadow: 0px 0px 17px 7px rgba(34, 60, 80, 0.2);
}

.pizza {
  padding: 0px;
  margin-bottom: 30px;
  position: relative;
  display: flex;
  background: #ffe5c4;
  border-radius: 20px;
}

.pizza__img {
  position: relative;
  top: -10px;
  left: -15px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.pizza__desc {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.pizza__p {
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
}

.pizza__price {
  font-size: 22px;
  font-weight: 800;
}

.pizza__btn {
  padding: 5px;
  position: relative;
  bottom: -10px;
  width: 70%;
  font-size: 16px;
  font-weight: 600;
  background: #c2b0f5;
  color: #fff;
  border-radius: 10px;
  border: none;
}
.pizza__btn.remove {
  width: 30px;
  height: 30px;
}

.btn-group {
  position: absolute;
  top: 40px;
  right: 0;
}

.count {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 36px;
  height: 36px;
  background: rgb(66, 66, 66);
  color: #fff;
  text-align: center;
  line-height: 36px;
  font-size: 16px;
  border-radius: 50%;
}
/* cart =================================== */

.cart {
  margin-left: 20px;
  width: 400px;
  height: 640px;
  background: #ffffff;
  border-radius: 0 20px 20px 0;
  box-shadow: 0px 0px 17px 7px rgba(34, 60, 80, 0.2);
  overflow-y: hidden;
}

.cart .title {
  margin: 20px;
  margin-left: 30px;
}

.cart .cart__list {
  padding: 20px;
  padding-left: 30px;
  height: 480px;
  overflow-y: scroll;
}

.cart__item {
  position: relative;
  display: flex;
  width: 90%;
  height: 80px;
  background: #e0e8ff;
  border-radius: 20px;
  animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.cart__img {
  position: relative;
  top: -10px;
  left: -10px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.cart__price {
  position: relative;
  top: -15px;
  font-weight: 700;
  font-size: 20px;
}

.cart__del {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  width: 30px;
  height: 30px;
}

.price {
  position: relative;
  bottom: -3px;
  display: flex;
  justify-content: space-evenly;
  background: #ffe5c4;
}

.wrap {
  display: flex;
  align-items: center;
}

.price__title {
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 600;
  margin-right: 5px;
}

.price__amount,
.dollar__sign {
  font-weight: 700;
}